@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/resets";
@import "./components/navigation";
@import "./components/footer";
/* own style */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
